@borderH4 : #005ea8;

body > div.detail-dossier{
	section.postTete{
		border-bottom: none;
		background-color: #efefef;
		position: relative;
		div.userBlock{
			margin-top: -15px;
			display: inline-block;
			float: right;
			width: 200px;
			text-align: right;
			padding-right: 50px;
			background: url(../img/icon_user_rouge_big.png) no-repeat 93% 8px;
			background-size: 29px;
			position: absolute;
			top: 39px;
			right: 2%;
			span{
				font-family: 'Proxima Nova semiBold';
				color: #ea213a;
				width: 100%;
				font-size: 0.6em;
				display: inline-block;
			}
			a{
				font-family: 'Proxima Nova semiBold';
				color: #6e6e6e;
				width: 100%;
				font-size: 0.4em;
				display: inline-block;
				top: -13px;
				position: relative;
			}
		}
	}
	h3{
		font-family: 'Proxima Nova Light';
		text-align: left;
		padding-right: 20%;
	}
	div.modal{
		&.download{
			div.checkbox{
				text-align: left;
				margin-left: 26%;
				label{
					color: #1b1b1b;
				}
				&.checked{
					label{
						color: @bleuAmeli;
					}
				}
			}
			a{
				margin-top: 40px;
			}
		}
		div.modal-dialog{
			min-width: 750px;
		}
		h2{
			font-family: 'Proxima Nova ThinIt';
			text-align: center;
			font-size: 1.8em;
		}
		div.modal-body{
			text-align: center;
			padding-bottom: 90px;
			padding-left: 16%;
			padding-right: 16%;
			a.okAmeli{
				margin-top: 30px;
			}
			option{
				text-transform: uppercase;
			}
		}
		p{
			color: #495058;
			margin-bottom: 30px;
		}
	}
	div.wrapper{
		min-height: 600px;
		padding: 0 10%;
		padding-bottom: 100px;
		padding-top: 100px;
		background-color: #fff;
		a.large{
			width: 200px;
			top: 50px;
			position: relative;
			height: 50px;
			line-height: 50px;
			margin: 0 auto;
			display: block;
			font-size: 1em;
		}
		h4{
			font-family: 'Proxima Nova Regular';
			margin-bottom: 50px;
			border-bottom: 1px solid @borderH4;
			padding-bottom: 10px;
			color: #404040;
			position: relative;
			&.mrgT{
				margin-top: 90px;
				text-transform: uppercase;
				padding-right: 180px;
				position: relative;
				span{
					font-family: 'Proxima Nova semiBold';
					position: absolute;
					right: 0;
					top: 0px;
				}
			}
		}
		span.redTxt{
			color: @rougeAmeli;
			margin-right: 30px;
			float: right;
		}
		span.iconD{
			font-family: 'Proxima Nova semiBold';
			cursor: pointer;
			color: #383838;
			-ms-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			position: absolute;
			right: 5px;
			top: 0;
			&.active{
				-ms-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
		}
		div.buttonRow{
			position: absolute;
			right: 0;
			a{
				display: block;
				&:first-of-type{
					margin-bottom: 20px;
				}
			}
		}
		div.textRow{
			padding-right: 200px;
			> p {
				&:first-of-type{
					margin-top: 20px;
				}
				span{
					color: @bleuAmeli;
				}
			}
			> a{
				margin-top: 20px;
			}
			div.form-group{
				margin-bottom: 0;
				label{
					font-family: 'Proxima Nova Light';
					font-size: 1.1em;
				}
				p{
					&.green{
						color: @vertAmeli;
						font-family: 'Proxima Nova semiBold';
						font-weight: normal;
					}
					&.warningIcon{
						color: @rougeAmeli;
						font-family: 'Proxima Nova semiBold';
						font-weight: normal;
						background: url(../img/icon_attention.png) no-repeat 99px 3px;
						background-size: 14px;
					}
				}
				b{
					font-family: 'Proxima Nova semiBold';
					font-weight: normal;
				}
			}
		}
		div.bottomZone{
			padding: 0 2%;
			div.leftZone{
				padding-right: 6%;
				h4{
				}
			}
			div.rightZone{
				padding-left: 6%;
				h4{
					border-color: @orangeAmeli;
				}
			}
			div.identBlock1{
				min-height: 836px;
			}
			div.postBlock{
				margin: 0 6%;
				padding-bottom: 25px;
				p{
					font-family: 'Proxima Nova Light';
					&.preTitle{
						color: #929292;
						font-family: 'Proxima Nova semiBold';
					}
					b{
						color: #767676;
						font-family: 'Proxima Nova semiBold';
					}
				}
			}
			h6{
				color: #929292;
				font-family: 'Proxima Nova semiBold';
				margin: 0 6%;
				font-size: 14px;
				margin-bottom: 25px;
				text-decoration: underline;

			}
			div.textBlock{
				margin: 0 6%;
				padding-bottom: 25px;
				p{
					margin-bottom: 5px;
					font-family: 'Proxima Nova Light';
					&.red{
						color: @rougeAmeli;
						font-family: 'Proxima Nova semiBold';
					}
					b{
						color: #767676;
						font-family: 'Proxima Nova semiBold';
					}
				}
			}
			h5{
				font-family: 'Proxima Nova Regular';
				margin-bottom: 20px;
				margin: 0 6%;
				border-bottom: 1px solid #767676;
				padding-bottom: 10px;
				color: #767676;
				position: relative;
				font-size: 15px;
				margin-bottom: 40px;
				margin-top: 50px;
				&.redTxt{
					color: @rougeAmeli;
					border-color: @rougeAmeli;
					position: relative;
				}
				span.iconClose{
					background: url(../img/icon_close.png) no-repeat 0 50%;
					background-size: 12px;
					height: 12px;
					width: 12px;
					display: block;
					position: absolute;
					left: -23px;
					top: 1px;

				}
				span.iconValide{
					background: url(../img/icon_valide.png) no-repeat 0 50%;
					background-size: 13px;
					height: 13px;
					width: 13px;
					display: block;
					position: absolute;
					left: -23px;
					top: 1px;

				}
			}
		}
	}
}

@media (max-width: @screen-lg-min) {
	body > div.detail-dossier div.wrapper div.bottomZone div.leftZone,
	body > div.detail-dossier div.wrapper div.bottomZone div.rightZone{
		padding: 0;
	}
	body > div.detail-dossier div.wrapper div.rightZone{
		margin-top: 100px;
	}
	/* body > div.detail-dossier div.wrapper {
		padding-bottom: 50px;
	} */
}

@media (max-width: @screen-sm-min) {
	body > div.detail-dossier {
		/* div.wrapper {
			padding: 50px 10%;
		} */
	}
	body > div.detail-dossier div.modal div.modal-dialog{
		min-width: auto;
		a.okAmeli{
			min-width: 150px;
			margin-bottom: 20px;
		}
	}
	body > div.detail-dossier div.modal.download div.checkbox {
		margin-left: 15%;
	}
	body > div.detail-dossier div.wrapper div.textRow {
		padding-top: 150px;
		padding-right: 0;
	}
	body > div.detail-dossier div.wrapper div.buttonRow {
		right: auto;
	}
}

@media (max-width: @screen-xs-min) {
	body > div.detail-dossier {
		/* div.wrapper {
			padding: 50px 10%;
		} */
	}
	body > div.detail-dossier h3 {
		padding-right: 60%;
	}
	body > div.detail-dossier div.modal.download div.checkbox {
		margin-left: 0;
	}
	body > div.detail-dossier div.wrapper h4.mrgT {
		padding-right: 30px;
		span {
			left: 0;
			top: -25px;
			&.iconD{
				right: 0;
				top: inherit;
				left: inherit;
			}
		}
	}
}