/* FONT */
@font-face {
	font-family: 'OPENSANS_LIGHT_ITALIC';
	src: url('../fonts/other/opensans-lightitalic-webfont.eot');
	src: url('../fonts/other/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/other/opensans-lightitalic-webfont.woff') format('woff'),
		url('../fonts/other/opensans-lightitalic-webfont.ttf') format('truetype'),
		url('../fonts/other/opensans-lightitalic-webfont.svg#OPENSANS_LIGHT_ITALIC') format('svg');
}
@font-face {
	font-family: 'OPENSANS_LIGHT';
	src: url('../fonts/other/opensans-light-webfont.eot');
	src: url('../fonts/other/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/other/opensans-light-webfont.woff') format('woff'),
		url('../fonts/other/opensans-light-webfont.ttf') format('truetype'),
		url('../fonts/other/opensans-light-webfont.svg#OPENSANS_LIGHT') format('svg');
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/Proxima Nova Semibold.otf') format("opentype");
}
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/Proxima Nova Regular.otf') format("opentype");
}
@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/Proxima Nova Light.otf') format("opentype");
}

/* Globals variables*/
@backgroundFooter : #efefef;
@backgroundGrisClair : #f7f7f7;
@colorPostTete : #757575;
@borderBotPostTete : #d4d4d4;
@bleuAmeli : #005da8;
@orangeAmeli : #f68527;
/* @borderTopPostTete : #dae5eb; */
@colorAsterixRequirForm : #e76207;
@hauteurFooter : 90px;
@hauteurHeader : 217px;

/* DIVERS */
/* Requier form hack */
.form-group.required .control-label:after {
	content:"*";
	color:@colorAsterixRequirForm;
	margin-left: 6px;
	font-weight: bold;
}
p{
	color: @colorPostTete;
	font-family: 'Proxima Nova Regular';
}

/* tooltips */
.tooltip{
	.tooltip-inner{
		background-color: @bleuAmeli;
		color: #fff;
	}
	.tooltip-arrow{
		border-right-color: @bleuAmeli !important;
	}
}
span.myTooltip{
	cursor: pointer;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 10px;
	color: #777775;
	padding: 3px 7px;
}
/* Custom Select */
.selectric .button {
	border-left : 1px solid #ccc;
	background: #fff;
}
.selectric .label {
	text-align: left;
	color: #555555 !important;
	font-weight: normal;
	font-size: 14px !important;
	line-height: 32px !important;
	background: #fff;
	margin: 0 !important;
}
div.BandeauAide{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 12;
	padding-top: 12px;
	padding-left: 12px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding-right: 12px;
	padding-bottom: 12px;
	cursor: pointer;
	background-color: @orangeAmeli;
	p{
		color: #fff;
		margin-bottom: 0;
	}
}
/* Date pciker */
div.form-group.dateFormGroup{
	input{
		margin-left: 4%;
		width: 93%;
	}
	span.input-group-addon{
		left: -14px;
		position: relative;
	}
}
@media (max-width: 1600px) {
	div.form-group.dateFormGroup span.input-group-addon {
		left: -12px;
	}
}

@media (max-width: 1400px) {
	div.form-group.dateFormGroup span.input-group-addon {
		left: -14px;
	}
	div.form-group.dateFormGroup input {
		width: 92%;
	}
}

@media (max-width: 1300px) {
	div.form-group.dateFormGroup span.input-group-addon {
		left: -15px;
	}
	div.form-group.dateFormGroup input {
		width: 91%;
	}
}

@media (max-width: 1200px) {
	div.form-group.dateFormGroup input {
		width: 95%;
		margin-left: 15px;
	}
}

@media (max-width: 1100px) {
	div.form-group.dateFormGroup span.input-group-addon {
		left: -17px;
	}
	div.form-group.dateFormGroup input {
		width: 94%;
	}
}

@media (max-width: 900px) {
	div.form-group.dateFormGroup input {
		width: 93%;
	}
}

@media (max-width: 800px) {
	div.form-group.dateFormGroup input {
		width: 92%;
	}
}

@media (max-width: @screen-sm-min) {
	div.form-group.dateFormGroup input {
		width: 94.5%;
	}
}

@media (max-width: 700px) {
	div.form-group.dateFormGroup input {
		width: 94%;
	}
}

@media (max-width: 600px) {
	div.form-group.dateFormGroup input {
		width: 93%;
	}
}

@media (max-width: 500px) {
	div.form-group.dateFormGroup input {
		width: 92%;
	}
}

@media (max-width: 450px) {
	div.form-group.dateFormGroup input {
		width: 90%;
	}
}

@media (max-width: 400px) {
	div.form-group.dateFormGroup input {
		width: 89%;
	}
}

@media (max-width: 350px) {
	div.form-group.dateFormGroup input {
		width: 87%;
	}
}

@media (max-width: 300px) {
	div.form-group.dateFormGroup input {
		width: 83%;
	}
}

/* HEADER */
header {
	section.preEntete {
		position: relative;
		height: 40px;
		background-color: #fff;
		border-bottom: 1px solid #dae4eb;
		z-index: 10;
		.logoAM {
			margin: 0 auto;
			width: 124px;
			height: 65px;
			background: url(../img/logo_am_entete.jpg) no-repeat 50% 50%;
			background-color: transparent;
		}
	}
	section.entete {
		position: relative;
		padding: 0 32px;
		height: 80px;
		background-color: #fff;
		margin-top: 10px;
		border-bottom: 1px solid rgba(0, 93, 168, 0.17);
		div.logoBlock{
			float: left;
			h1{
				position: absolute;
				top: 20px;
				height: 68px;
				width: 127px;
				height: 42px;
				background: url(../img/logo_ameli.svg) no-repeat;
				background-color: transparent;
				margin: 0;
				padding: 0;
				font-size: 0.1rem;
				color: #fff;
			}
			h2{
				position: absolute;
				top: 41px;
				left: 170px;
				font-family: OPENSANS_LIGHT_ITALIC,Arial,Helvetica,sans-serif;
				font-size: 2.2rem;
				font-weight: normal;
				color: #495058;
				margin: 0;
				text-transform: none;
				letter-spacing: normal;
			}
		}
		div.loginBlock{
			float: right;
			margin-top: 46px;
			> a{
				font-family: 'Proxima Nova Semibold';
				color: #c4c4c4;
				cursor: pointer;
				padding-left: 30px;
				background: url(../img/iccon_account.jpg) 0% 50% no-repeat;
				display: inline-block;
				&:hover{
					background: url(../img/iccon_account_on.jpg) 0% 50% no-repeat;
					text-decoration: none;
					color: @bleuAmeli;
				}
			}
		}
	}
	section.postTete{
		background-color: @backgroundGrisClair;
		color: @colorPostTete;
		border-bottom: 1px solid @borderBotPostTete;
		/* border-top: 1px solid @borderTopPostTete; */
		text-align: center;
		padding: 20px 2%;
		text-transform: uppercase;
		h3{
			font-family: 'Proxima Nova Semibold';
		}
		span{
			color: @orangeAmeli;
		}
	}
}
@media (max-width: 400px) {
	header section.entete {
		height: 120px;
		div.logoBlock h2{
			position: inherit;
			margin-top: 70px;
			section.postTete{
				margin-top: 30px;
			}
		}
	}

}
@media (max-width: 600px) {
	header section.entete div.loginBlock {
		float: right;
		margin-top: -40px;
		z-index: 11;
		position: inherit;
	}
}
@media (max-width: 500px) {
	header section.entete div.loginBlock {
		margin-top: -58px;
		margin-right: -23px;
		> a{
			width: 25px;
			font-size: 0;
			height: 25px;
			padding: 0;
		}
	}
}

/* FOOTER */
footer{
	height: @hauteurFooter;
	background-color: @backgroundFooter;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 30px;
	p {
		display: inline-block;
		padding: 9px 2%;
		font-family: OPENSANS_LIGHT,Arial,Helvetica,sans-serif;
		background: #e5e5e5;
		margin-left: 7px;
		font-size: 0.9em;
	}
	a, a:hover {
		color: rgb(51,51,51);
		text-decoration: none;
	}
}

@media (max-width: @screen-xs-min) {
	footer{
		height: 130px;
	}
}