body > div.mention{
	div.wrapper{
		padding: 0 20%;
		padding-bottom: 80px;
		padding-top: 40px;
		p{
			margin-bottom: 20px;
			font-family: 'Proxima Nova Regular';
		}
		button{
			margin: 0 auto;
			display: block;
			margin-top: 60px;
			text-transform: initial;
		}
	}
}